@model _10DHTH.QuanLyTiemCamDo.DataAccess.Models.KhachHang

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/shared/_Layout.cshtml";

}

<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Thông tin người dùng</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="Edit" data-parsley-validate>
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="MaKh" />
                                <div class="col-md-6 col-12">
                                    <label asp-for="TenKh" class="control-label">Tên Khách Hàng</label>
                                    <input asp-for="TenKh" class="form-control" />
                                    <span asp-validation-for="TenKh" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label asp-for="Email" class="control-label">Email</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label asp-for="NgaySinh" class="control-label">Ngày Sinh</label>
                                    <input asp-for="NgaySinh" class="form-control" />
                                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label asp-for="SoDt" class="control-label">Số Điện Thoại</label>
                                    <input asp-for="SoDt" class="form-control" />
                                    <span asp-validation-for="SoDt" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label asp-for="Cmnd" class="control-label">CMND</label>
                                    <input asp-for="Cmnd" class="form-control" />
                                    <span asp-validation-for="Cmnd" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label asp-for="DiaChi" class="control-label">Địa Chỉ</label>
                                    <input asp-for="DiaChi" class="form-control" />
                                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    <a asp-action="Index">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section footer{
    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/extensions/jquery/jquery.min.js"></script>
    <script src="~/assets/extensions/parsleyjs/parsley.min.js"></script>
    <script src="~/assets/js/pages/parsley.js"></script>
}