@model string

<div class="content clearfix" style="width: 100%;">
    <section id="step-by-step-p-0" role="tabpanel" aria-labelledby="step-by-step-h-0" class="body" aria-hidden="false" style="left: 0px; display: block; height:520px">
        <div class="ct">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center text-success">Hoàn tất thiết lập khoản vay</h4>
                    <p class="text-center content-notify">
                        <span>Chúng tôi sẽ liên lạc với bạn thông qua </span><span class="text-success">Email và số điện thoại</span> <span>sau</span> <span class="text-success">30 phút</span>

                        <span>để hỗ trợ bạn về khoản vay</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>




