@model string

<div class="content clearfix" style="width: 100%;">
    <section id="step-by-step-p-0" role="tabpanel" aria-labelledby="step-by-step-h-0" class="body" aria-hidden="false" style="left: 0px;height:520px; display: block;">
        <div class="heading">
            <h3 class="step-title">2. Thông tin khách hàng</h3>
        </div>
        <div class="ct">
           
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                        <p class="thep">Tên khách hàng</p>
                            <input type="text" class="form-control required" id="CustomerName" name="CustomerName">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                        <p class="thep"> Giới tính</p>
                            <select class="form-control valid" id="ID_Gender">
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label class="thep">Ngày sinh</label>
                            <input type="text" class="form-control required" id="Birthday" name="Birthday">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label class="thep">Địa chỉ</label>
                            <input type="text" class="form-control required" id="Address" name="Address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label class="thep">Email</label>
                            <input type="email" class="form-control required" id="Email" name="Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label class="thep">Điện thoại</label>
                            <input type="text" class="form-control required" id="Mobile" name="Mobile">
                        </div>
                    </div>
                </div>

             
            </div>
      
    </section>
</div>