    <!-- Sidebar -->
<aside class="wrap-sidebar js-sidebar">
    <div class="s-full js-hide-sidebar"></div>

    <div class="sidebar flex-col-l p-t-22 p-b-25">
        <div class="flex-r w-full p-b-30 p-r-27">
            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
            <ul class="sidebar-link w-full">
                <li class="p-b-13">
                    <a href="index.html" class="stext-102 cl2 hov-cl1 trans-04">
                        Home
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                        My Wishlist
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                        My Account
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                        Track Oder
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                        Refunds
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                        Help & FAQs
                    </a>
                </li>
            </ul>

            <div class="sidebar-gallery w-full p-tb-30">
                <span class="mtext-101 cl5">

                </span>

                <div class="flex-w flex-sb p-t-36 gallery-lb">
                    <!-- item gallery sidebar -->
                    <div class="wrap-item-gallery m-b-10">
                        <a class="item-gallery bg-img1" href="images/gallery-01.jpg" data-lightbox="gallery"
                           style="background-image: url('images/gallery-01.jpg');"></a>
                    </div>

                    <!-- item gallery sidebar -->
                    <div class="wrap-item-gallery m-b-10">
                        <a class="item-gallery bg-img1" href="images/gallery-02.jpg" data-lightbox="gallery"
                           style="background-image: url('images/gallery-02.jpg');"></a>
                    </div>

                    <!-- item gallery sidebar -->
                    <div class="wrap-item-gallery m-b-10">
                        <a class="item-gallery bg-img1" href="images/gallery-03.jpg" data-lightbox="gallery"
                           style="background-image: url('images/gallery-03.jpg');"></a>
                    </div>

                    <!-- item gallery sidebar -->
                    <div class="wrap-item-gallery m-b-10">
                        <a class="item-gallery bg-img1" href="images/gallery-04.jpg" data-lightbox="gallery"
                           style="background-image: url('images/gallery-04.jpg');"></a>
                    </div>

                    <!-- item gallery sidebar -->
                    <div class="wrap-item-gallery m-b-10">
                        <a class="item-gallery bg-img1" href="images/gallery-05.jpg" data-lightbox="gallery"
                           style="background-image: url('images/gallery-05.jpg');"></a>
                    </div>

                    <!-- item gallery sidebar -->
                    <div class="wrap-item-gallery m-b-10">
                        <a class="item-gallery bg-img1" href="images/gallery-06.jpg" data-lightbox="gallery"
                           style="background-image: url('images/gallery-06.jpg');"></a>
                    </div>

                    <!-- item gallery sidebar -->
                    <div class="wrap-item-gallery m-b-10">
                        <a class="item-gallery bg-img1" href="images/gallery-07.jpg" data-lightbox="gallery"
                           style="background-image: url('images/gallery-07.jpg');"></a>
                    </div>

                    <!-- item gallery sidebar -->
                    <div class="wrap-item-gallery m-b-10">
                        <a class="item-gallery bg-img1" href="images/gallery-08.jpg" data-lightbox="gallery"
                           style="background-image: url('images/gallery-08.jpg');"></a>
                    </div>

                    <!-- item gallery sidebar -->
                    <div class="wrap-item-gallery m-b-10">
                        <a class="item-gallery bg-img1" href="images/gallery-09.jpg" data-lightbox="gallery"
                           style="background-image: url('images/gallery-09.jpg');"></a>
                    </div>
                </div>
            </div>

            <div class="sidebar-gallery w-full">
                <span class="mtext-101 cl5">
                    About Us
                </span>

                <p class="stext-108 cl6 p-t-27">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus vulputate hendrerit. Praesent faucibus erat vitae rutrum gravida. Vestibulum tempus mi enim, in molestie sem fermentum quis.
                </p>
            </div>
        </div>
    </div>
</aside>


<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1 rs1-slick1">
        <div class="slick1">

            <div class="item-slick1" style="background-image: url(images/app/hinh1.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-202 cl2 respon2">
                                Women Collection 2018
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                                NEW SEASON
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(images/app/slide-04.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-202 cl2 respon2">
                                Women Collection 2018
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                                NEW SEASON
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Banner -->

<section class="sec-blog bg0 p-t-50 p-b-50">
    <div class="container">
        <div class="p-b-55">
            <h3 class="ltext-105 cl5 txt-center respon1">
                <span>Giao dịch tại 24h</span>
            </h3>
        </div>
        <div class="row">
            <div class="content">
                <div class="col-md-4 p-b-40" style="float: left;">
                    <img src="~/images/app/step1.jpg" alt="Tin cậy" title="Tin cậy">
                    <h3>Tin cậy</h3>
                    <p>100% tài sản được niêm phong, thủ tục rõ ràng, hệ thống cửa hàng khắp TP.HCM.</p>
                </div>
                <div class="col-md-4 p-b-40" style="float: left;">
                    <img src="~/images/app/step2.jpg" alt="Nhanh chóng" title="Nhanh chóng">
                    <h3>Nhanh chóng</h3>
                    <p>Thủ tục nhanh chóng, đơn giản, chuyên nghiệp, giải ngân ngay.</p>
                </div>
                <div class="col-md-4 p-b-40" style="float: left;">
                    <img src="~/images/app/step3.jpg" alt="Thân thiện" title="Thân thiện">
                    <h3>Thân thiện</h3>
                    <p>Nhân viên được đào tạo bài bản, nhiệt tình, chuyên nghiệp.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt20">
    <div class="row">
        <div class="text-center col-md-12">

            <a  asp-controller="CamDoOnline" asp-action="Main">
                <img src="~/images/app/cam-do-online.jpg" alt="Cầm đồ" title="Cầm đồ">
                </a>

            <a href="/san-pham/"><img src="~/images/app/mua-do-thanh-ly.jpg" alt="Thanh lý" title="Thanh lý"></a>
        </div>
        <div class="mb20">&nbsp;</div>
    </div>
</div>

<!-- Blog -->
<section class="sec-blog bg0 p-t-60 p-b-90" id="list-product-home" style="background-color: #ebebeb;">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Sản phẩm cầm cố
            </h3>
        </div>
        <div class="row">
            <div class="content" style="width: 100%;">
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"> <section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"> <a href="/san-pham/402-o-to.html"><img src="~/images/app/xe.jpg" alt="Ô TÔ " title="Ô TÔ "> </a></section><h3 class="text"><a href="/san-pham/402-o-to.html">Ô TÔ </a></h3><p>Ô tô đang trả góp</p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/401-xe-may.html"><img src="~/images/app/xemay.jpg" alt="Xe máy" title="Xe máy"></a></section><h3 class="text"><a href="/san-pham/401-xe-may.html">Xe máy</a></h3><p>Xe máy đang trả góp</p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/404-may-quay-phim.html"><img src="~/images/app/mayquayphim.jpg" alt="MÁY QUAY PHIM" title="MÁY QUAY PHIM"></a></section><h3 class="text"><a href="/san-pham/404-may-quay-phim.html">MÁY QUAY PHIM</a></h3><p>Các hiệu Sony, Panasonic, Canon...</p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/395-dien-thoai.html"><img src="~/images/app/dienthoai.jpg" alt="Điện thoại" title="Điện thoại"></a></section><h3 class="text"><a href="/san-pham/395-dien-thoai.html">Điện thoại</a></h3><p>Điện thoại Iphone, Samsung,OPPO,..</p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/396-laptop-tablet.html"><img src="~/images/app/laptop.jpg" alt="LAPTOP - TABLET" title="LAPTOP - TABLET"></a></section><h3 class="text"><a href="/san-pham/396-laptop-tablet.html">LAPTOP - TABLET</a></h3><p>Laptop dell, Asus, Apple, Lenovo ,HP, MSI...</p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/399-do-gia-dung.html"><img src="~/images/app/dogiadung.jpg" alt="Đồ gia dụng" title="Đồ gia dụng"></a></section><h3 class="text"><a href="/san-pham/399-do-gia-dung.html">Đồ gia dụng</a></h3><p>Laptop dell, Asus, Apple, Lenovo ,HP, MSI...</p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/395-dien-thoai.html"><img src="~/images/app/dienthoai.jpg" alt="Điện thoại" title="Điện thoại"></a></section><h3 class="text"><a href="/san-pham/395-dien-thoai.html">Điện thoại</a></h3><p>Điện thoại Iphone, Samsung,OPPO,..</p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/396-laptop-tablet.html"><img src="~/images/app/laptop.jpg" alt="LAPTOP - TABLET" title="LAPTOP - TABLET"></a></section><h3 class="text"><a href="/san-pham/396-laptop-tablet.html">LAPTOP - TABLET</a></h3><p>Laptop dell, Asus, Apple, Lenovo ,HP, MSI...</p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/398-bat-dong-san.html"><img src="~/images/app/batdongsan.jpg" alt="BẤT ĐỘNG SẢN" title="BẤT ĐỘNG SẢN"></a></section><h3 class="text"><a href="/san-pham/398-bat-dong-san.html">BẤT ĐỘNG SẢN</a></h3><p></p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"> <section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/394-vang-mieng.html"><img src="~/images/app/vang.jpg" alt="Vàng miếng" title="Vàng miếng"></a></section><h3 class="text"><a href="/san-pham/394-vang-mieng.html">Vàng miếng</a></h3><p></p> </div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/397-dong-ho.html"><img src="~/images/app/dongho.jpg" alt="Đồng hồ" title="Đồng hồ"></a></section><h3 class="text"><a href="/san-pham/397-dong-ho.html">Đồng hồ</a></h3><p></p></div>
                <div class="col-xs-12 col-md-2 text-center" style="padding:3px;float:left"><section class="wow zoomIn" data-wow-duration=".5s" data-wow-delay="0"><a href="/san-pham/403-sim-so-dep.html"><img src="~/images/app/sim.jpg" alt="Sim số đẹp" title="Sim số đẹp"></a></section><h3 class="text"><a href="/san-pham/403-sim-so-dep.html">Sim số đẹp</a></h3><p>Sim số đẹp, sim phong thủy, sim vip, sim tứ quý</p></div>
            </div>
        </div>
    </div>
</section>


